nav {
  background-color: rgb(199, 34, 47);
  padding: 10px 5px;
  height: 40px;
}
.brand {
  color: white;
  font-weight: 700;
  border: none; 
  background-color: transparent;
}
.brand:hover {
  color: rgb(45, 45, 45);
  cursor: pointer;
  background-color: transparent;
  border: none; 
}
.navLeft {
  float: right;
}
ul {
  color: white;
  list-style: none;
  display: flex;
}
li {
  margin-right: 30px;
}
li:hover {
  color: rgb(45, 45, 45);
  cursor: pointer;
}
.aboutSection {
  margin-bottom: 30px;
}
.footer {
  background-color: rgb(199, 34, 47);
  color: rgb(270, 270, 270);
  padding: 15px;
  font-weight: 700;
}
